@model IEnumerable<Product>



@foreach (Product item in Model)
{
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">

        <div class="card single-item" id="">
            <!--Card Image-->
            <div class="img-container">
                <a asp-action="Details" asp-route-id="@item.ProductId">
                    <img src="@Html.DisplayFor(modelItem => item.ImagePath)"
                         class="card-img-top product-img" alt="">
                </a>
            </div>
            <!--End of Card Image-->
            <!--Card Details-->
            <div class="card-body">
                <div class="card-text d-flex justify-content-between text-captialize">
                    <h5 id="item-name"> @Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <span>
                        <i class="zar-icon font-weight-bold">R</i>
                        @Html.DisplayFor(modelItem => item.Price)
                    </span>
                </div>
                <!--Hidden Card Details-->
                <div>
                    <h5 class="SerialNumber" hidden>@Html.DisplayFor(modelItem => item.SerialNumber)</h5>
                    <h5 class="barcode" hidden>@Html.DisplayFor(modelItem => item.BarCode)</h5>
                </div>
                <!--End Of Hidden Card Details-->
                <!--Card Buttons and Links-->
                <div class="card-btns d-flex justify-content-end">
                    <a asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@item.ProductId" class="btn btn-success px-3 mx-1">
                        <i class="fa fa-plus"></i>
                    </a>

                    <a href="#" class="btn btn-danger px-3 mx-1">
                        <i class="fa fa-heart"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ProductId"
                       class="btn btn-warning px-3 mx-1"><i class="fa fa-eye"></i></a>
                </div>
                <!--End of Buttons and Links-->
            </div>
            <!--End of Card Details-->
        </div>

    </div>
    <!--End of Single Item-->
}