@model myStore.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="cotrol-label">Choose a Product:</label>
                <br />
                <select asp-for="ProductId" class="control-label">
                    @foreach (Product p in Model.Product)
                    {
                        <option value="@p.ProductId">@p.ProductName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="cotrol-label">Choose a Product:</label>
                <br />
                <select asp-for="ColorId" class="control-label">
                    @foreach (Color c in Model.Colors)
                    {
                        <option value="@c.ColorId">@c.ColorName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="cotrol-label">Choose a Product:</label>
                <br />
                <select asp-for="SizeId"  class="control-label">
                    @foreach (Size s in Model.Sizes)
                    {
                        <option value="@s.SizeId">@s.SizeNumber</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StockValue" class="control-label"></label>
                <input asp-for="StockValue" class="form-control" />
                <span asp-validation-for="StockValue" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
