@model myStore.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
    var cartview = (List<CartView>)ViewData["cartview"];
}

<section class="mt-5">
    <div class="cart d-flex flex-column">
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-white">Product</th>
                            <th scope="col" class="text-white">Price</th>
                            <th scope="col" class="text-white">Quantity</th>
                            <th scope="col" class="text-white">Total</th>
                            <th scope="col" class="text-white"></th>

                        </tr>
                    </thead>
                    <tbody class="cart-items">
                        @if (Model == null)
                        {

                            <tr>
                                <td>
                                    <div class="text-center">
                                        <p class="text-danger" style="font-size:5vw;">No items in the cart !!!</p>
                                    </div>
                                </td>
                            </tr>


                        }
                        else
                        {
                            @foreach (var item in cartview)
                            {
                                <tr>
                                    <td>
                                        <div class="main cart-item">
                                            <div class="img-wrap">
                                                <img src="@Html.DisplayFor(modelItem => item.Product.ImagePath)" alt="">
                                            </div>
                                            <div class="productName">
                                                <h6>@Html.DisplayFor(modelItem => item.Product.ProductName)</h6>
                                            </div>
                                            <div class="hiddenProductDetails">
                                                <h6 hidden>@Html.DisplayFor(modelItem => item.Product.ProductId)</h6>
                                                <h6 hidden>@Html.DisplayFor(modelItem => item.Product.BarCode)</h6>
                                                <h6 hidden>@Html.DisplayFor(modelItem => item.Product.SerialNumber)</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="unitPrice">
                                            <h6>
                                                R:<span class="cart-item-price">
                                                    @Html.DisplayFor(modelItem => item.Product.Price)
                                                </span>
                                            </h6>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="counter">

                                            <form>
                                               
                                                <h4 readonly>@Html.DisplayFor(modelItem => item.CartItem.Quantity)</h4>
                                               
                                            </form>

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <h6>R: <span class="TotalPrice">@Html.DisplayFor(modelItem => item.CartItem.TotalPrice) </span></h6>
                                        </div>
                                    </td>
                                   
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>          
        </div>
    </div>
</section>






<h4>ShoppingCart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" value="@string.Format("{0:0.##}", Model.Total)" placeholder="@string.Format("{0:C}",Model.Total)" readonly/>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Make Purchase @string.Format("{0:0.##}", Model.Total)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
