@model IEnumerable<myStore.Models.ShoppingCart>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingCartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoppingCartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoppingCartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoppingCartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
